<%- include('./partials/_header') %>
    
            <div class="row">
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Users</h5>
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">
                                                    <%= userStats.totalUsers %>
                                                </h2>
                                                <p class="text-success ms-2 mb-0 font-weight-medium">
                                                    <%= userStats.percentageIncrease %>%
                                                </p>
                                            </div>
                                            <h6 class="text-muted font-weight-normal">
                                                <%= userStats.percentageSinceLastMonth %>% Since last month
                                            </h6>
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Sales</h5>
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">$45850</h2>
                                                <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p>
                                            </div>
                                            <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6>
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Purchase</h5>
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">$2039</h2>
                                                <p class="text-danger ms-2 mb-0 font-weight-medium">-2.1% </p>
                                            </div>
                                            <h6 class="text-muted font-weight-normal">2.27% Since last month</h6>
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">AI Chat Feedback History</h4>
                                    <div class="position-relative">
                                        <div class="daoughnutchart-wrapper">
                                            <canvas id="transaction-history" class="transaction-chart"></canvas>
                                        </div>
                                        <div class="custom-value">
                                            <%= chatHistory.total %> <span>Total</span>
                                        </div>
                                    </div>
                                    <div
                                        class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-2 px-4 px-md-3 px-xl-4 rounded mt-3">
                                        <div class="text-md-center text-xl-left">
                                            <h6 class="mb-1">Total Likes</h6>
                                        </div>
                                        <div
                                            class="align-self-center flex-grow text-end text-md-center text-xl-right py-md-2 py-xl-0">
                                            <h6 class="font-weight-bold mb-0">
                                                <%= chatHistory.total_likes %>
                                            </h6>
                                        </div>
                                    </div>
                                    <div
                                        class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-2 px-4 px-md-3 px-xl-4 rounded mt-3">
                                        <div class="text-md-center text-xl-left">
                                            <h6 class="mb-1">Total Dislikes</h6>
                                        </div>
                                        <div
                                            class="align-self-center flex-grow text-end text-md-center text-xl-right py-md-2 py-xl-0">
                                            <h6 class="font-weight-bold mb-0">
                                                <%= chatHistory.total_dislikes %>
                                            </h6>
                                        </div>
                                    </div>
                                    <div
                                        class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-2 px-4 px-md-3 px-xl-4 rounded mt-3">
                                        <div class="text-md-center text-xl-left">
                                            <h6 class="mb-1">Total No Feedback</h6>
                                        </div>

                                        <div
                                            class="align-self-center flex-grow text-end text-md-center text-xl-right py-md-2 py-xl-0">
                                            <h6 class="font-weight-bold mb-0">
                                                <%= chatHistory.total_no_feedback %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h4 class="card-title mb-1">Open Projects</h4>
                                        <p class="text-muted mb-1">Your data status</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="preview-list">
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-primary">
                                                            <i class="mdi mdi-file-document"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Admin dashboard design</h6>
                                                            <p class="text-muted mb-0">Broadcast web app mockup</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <p class="text-muted">15 minutes ago</p>
                                                            <p class="text-muted mb-0">30 tasks, 5 issues </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-success">
                                                            <i class="mdi mdi-cloud-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Wordpress Development</h6>
                                                            <p class="text-muted mb-0">Upload new design</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <p class="text-muted">1 hour ago</p>
                                                            <p class="text-muted mb-0">23 tasks, 5 issues </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-info">
                                                            <i class="mdi mdi-clock"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Project meeting</h6>
                                                            <p class="text-muted mb-0">New project discussion</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <p class="text-muted">35 minutes ago</p>
                                                            <p class="text-muted mb-0">15 tasks, 2 issues</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-danger">
                                                            <i class="mdi mdi-email-open"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Broadcast Mail</h6>
                                                            <p class="text-muted mb-0">Sent release details to team</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <p class="text-muted">55 minutes ago</p>
                                                            <p class="text-muted mb-0">35 tasks, 7 issues </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="preview-item">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-warning">
                                                            <i class="mdi mdi-chart-pie"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">UI Design</h6>
                                                            <p class="text-muted mb-0">New application planning</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <p class="text-muted">50 minutes ago</p>
                                                            <p class="text-muted mb-0">27 tasks, 4 issues </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Users Status</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="form-check form-check-muted m-0">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input"
                                                                    id="check-all">
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <th> User Name </th>
                                                    <th> Email </th>
                                                    <th> Courses </th>
                                                    <th> Course Details </th>
                                                    <th> Start Date </th>
                                                    <th> Status </th>
                                                    <th> Actions </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users.forEach(user=> { %>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check form-check-muted m-0">
                                                                <label class="form-check-label">
                                                                    <input type="checkbox" class="form-check-input">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <img src="<%= user.avatar %>" alt="image" />
                                                            <span class="ps-2">
                                                                <%= user.username %>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <%= user.email %>
                                                        </td>
                                                        <td>
                                                            <%= user.courses.length %>
                                                        </td>
                                                        <td>
                                                            <%if(user.courses.length> 0) {%>
                                                                <a href="#" id="user-<%= user.id %>-profile-dropdown"
                                                                    data-bs-toggle="dropdown" aria-expanded="true">
                                                                    View
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end"
                                                                    aria-labelledby="user-<%= user.id %>-profile-dropdown">
                                                                    <% user.courses.forEach((course, index)=> { %>
                                                                        <a href="#" class="dropdown-item">
                                                                            <%= index + 1 %> - <%= course.title %>
                                                                        </a>
                                                                        <% }) %>
                                                                </div>
                                                                <%} else {%>
                                                                    <span class="text-muted">No Courses</span>
                                                                    <%}%>
                                                        </td>
                                                        <td>
                                                            <%= user.created_at %>
                                                        </td>
                                                        <td>
                                                            <div class="badge 
                                                        <%= user.status == 'approved' ? 'badge-outline-success' : 
                                                            (user.status == 'blocked' || user.status == 'deleted' ? 'badge-outline-danger' : 
                                                            'badge-outline-warning') %>">
                                                                <%= user.status.charAt(0).toUpperCase() +
                                                                    user.status.slice(1) %>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"
                                                                aria-expanded="true" class="show">
                                                                <i class="mdi mdi-dots-vertical"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="profile-dropdown">
                                                                <a href="#" class="dropdown-item"><i
                                                                        class="mdi mdi-account-outline text-primary me-2"></i>
                                                                    View Profile</a>
                                                                <a href="#" class="dropdown-item"><i
                                                                        class="mdi mdi-onepassword text-primary me-2"></i>
                                                                    Change Password</a>
                                                                <% if(user.status !='deleted' ) { %>
                                                                    <a href="#" data-id="<%= user.id %>"
                                                                        class="dropdown-item delete-user">
                                                                        <i
                                                                            class="mdi mdi-delete-outline text-primary me-2"></i>
                                                                        Delete User
                                                                    </a>
                                                                    <% } %>
                                                                        <% if(user.status !='approved' ) { %>
                                                                            <a href="#" data-id="<%= user.id %>"
                                                                                class="dropdown-item approve-user">
                                                                                <i
                                                                                    class="mdi mdi-check text-primary me-2"></i>
                                                                                Approve User
                                                                            </a>
                                                                            <% } %>
                                                                                <% if(user.status !='blocked' &&
                                                                                    user.status !='deleted' ) { %>
                                                                                    <a href="#" data-id="<%= user.id %>"
                                                                                        class="dropdown-item block-user">
                                                                                        <i
                                                                                            class="mdi mdi-close text-primary me-2"></i>
                                                                                        Block User
                                                                                    </a>
                                                                                    <% } %>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h4 class="card-title">Notifications</h4>
                                        <p class="text-muted mb-1 small">View all</p>
                                    </div>
                                    <div id="notification-container" class="preview-list"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">New Notification</h4>
                                    <div class="d-flex py-2">
                                        <form class="w-100" action="/api/notifications/add-notification" method="post">
                                            <div class="form-group mb-3">
                                                <select class="form-control" name="user_id" id="user_id" required>
                                                    <option value="" disabled selected>Select user</option>
                                                    <% users.forEach(user=> { %>
                                                        <option class="form-control" value="<%= user.id %>">
                                                            <%= user.username %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control" id="title" name="title"
                                                    placeholder="Write title here">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="notification_text">Message</label>
                                                <textarea name="notification_text" type="text" class="form-control"
                                                    id="notification_text" placeholder="Write message here"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary me-2">Send
                                                Notification</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="todo" class="col-md-12 col-xl-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">To do list</h4>
                                    <div class="add-items d-flex">
                                        <input type="text" class="form-control todo-list-input"
                                            placeholder="enter task..">
                                        <button class="add btn btn-primary todo-list-add-btn">Add</button>
                                    </div>
                                    <div class="list-wrapper">
                                        <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom">
                                            <!-- load todo tasks from database here -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- content-wrapper ends -->
                 <!-- container-scroller -->
    <script type="application/json" id="chat-history">
        <%- JSON.stringify(chatHistory) %>
    </script>
    <script>
        let chatHistory = JSON.parse(document.getElementById("chat-history").textContent);
    </script>
<%- include('./partials/_footer') %>