<%- include('../partials/_header') %>
    <div class="row">
        <div class="col-12">
            <div class="card rounded-0 min-vh-100">
                <div class="card-body">
                    <h4 class="card-title">Edit Lecture</h4>
                    <form action="/admin/lectures/<%= lecture.id %>/update" method="POST">
                        <div class="form-group  mb-4">
                            <label for="course_id">Course</label>
                            <select name="course_id" id="course_id" class="form-control">
                                <% courses.forEach(course=> { %>
                                    <option value="<%= course.id %>" <%= course.id == lecture.course_id ? 'selected' : '' %>
                                        ><%= course.title %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group  mb-4">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                                placeholder="Enter lecture title" value="<%= lecture.title %>" required>
                        </div>
                        <div class="form-group  mb-4">
                            <label for="start_page">Start Page</label>
                            <input type="number" class="form-control" id="start_page" name="start_page" value="<%= lecture.start_page %>" required>
                        </div>
                        <div class="form-group  mb-4">
                            <label for="end_page">End Page</label>
                            <input type="number" class="form-control" id="end_page" name="end_page" value="<%= lecture.end_page %>" required>
                        </div>
                        <div class="col-12 mb-4">
                            <button type="submit" class="btn btn-primary">
                               Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
<%- include('../partials/_footer') %>