<%- include('../../partials/_header') %>
        <div class="col-lg-3">
                <h2 style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="m-0 p-0"><%= course.title %></h2>
                <div class="progress-bar-container">
                    <div class="progress-bar-fill" data-progress="<%= course.progress %>"></div>
                </div>
                <h4 class="mt-3">Quizzes</h4>
                <% if(quizzs.length > 0) {%>
                <ul class="list-group mt-3">
                    <% quizzs.forEach(quizz => { %>
                        <li id="quizz_<%= quizz.id %>"  class="list-group-item bg-primary-subtle rounded-0 mb-1 d-flex align-items-center justify-content-between">
                            <span id="quizz_<%= quizz.id %>_" class="w-100" course-id="<%= course.id %>">
                                <a href="/api/courses/<%= course.id %>/quizzes/<%= quizz.id %>" class="text-decoration-none text-dark">
                                   <strong style="width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" data-title = "quizz-title"> <%= quizz.title %> </strong>
                                </a>
                            </span>
                            <div class="d-flex align-items-center gap-1">
                            <div class="progress-container">
                                <svg width="30" height="30">
                                    <circle cx="15" cy="15" r="10" class="progress-ring"></circle>
                                    <circle cx="15" cy="15" r="10" class="progress-ring-progress" data-progress="<%= quizz.quizz_progress %>"></circle>
                                </svg>
                                <div class="progress-text "><%= quizz.quizz_progress %>%</div>
                            </div>
                            <div class="btn-group dropup">
                                <button type="button" class="bg-transparent border-0" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li class="dropdown-item edit-quizz-btn" data-id="<%= quizz.id %>">edit</li>
                                  <li class="dropdown-item">
                                    <form class="delete-quizz-btn" data-quizz-id="<%= quizz.id %>" action="/api/courses/<%= course.id %>/quizzes/<%= quizz.id %>/delete" method="delete">
                                        <button type="submit" class="text-danger bg-transparent border-0 p-0">Delete</button>
                                    </form>
                                  </li>
                                </ul>
                            </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <% } else { %>
                   <p>No quizzes have been created for this course.</p>
                <% } %>
        </div>
        <div class="col-lg-9">
            <div class="row mt-3">
                <div class="col-lg-8">
                    <h4 class="mt-2 mb-0">New quizz</h4>
                <form action="/api/courses/<%= course.id %>/quizzes" method="post" class="d-flex align-items-center gap-1">
                    <input type="text" name="title" id="title" class="form-control" placeholder="Write quizz title" required>
                    <button type="submit" id="createBtn" class="btn btn-sm btn-primary">Create</button>
                </form>
                </div>
                <div class="col-lg-4">
                 
                </div>
            </div>      
        </div>
    
    <script src="/js/courseProgress.js"></script>
    <script src="/js/courseProgressBar.js"></script>
    <script src="/js/checkForDuplicate.js"></script>
    <script src="/js/refreshToken.js"></script>
    <script type="application/json" id="quizzs-data">
        <%- JSON.stringify(quizzs) %>
    </script>
    
    <script>
        let quizzs = JSON.parse(document.getElementById("quizzs-data").textContent);;

        document.addEventListener('DOMContentLoaded', () => {
            let title = document.getElementById('title');
            let createBtn = document.getElementById('createBtn');
            checkForDuplicate(quizzs, title, "quizz title", 'title', createBtn, "Quizz");
        });
    </script>
    <script src="/js/editQuizz.js"></script>

<%- include('../../partials/_footer') %>