<%- include('partials/_header') %>
    
        <div class="col-lg-3">
                <h1 class="m-0 p-0"><%= course.title %></h1>
                <form action="/api/courses/<%= course.id %>/quizzes" method="post" class="d-flex align-items-center gap-1 mt-3">
                    <input type="text" name="title" class="form-control" placeholder="Enter quizz title">
                    <button type="submit" class="btn btn-sm btn-primary">Create</button>
                </form>
                <h4 class="mt-3">Quizzes List</h4>
                <% if(quizzs.length > 0) {%>
                <ul class="list-group mt-3">
                    <% quizzs.forEach(quizz => { %>
                        <li class="list-group-item bg-primary-subtle rounded-0 mb-1">
                            <a href="/api/courses/<%= course.id %>/quizzes/<%= quizz.id %>" class="text-decoration-none text-dark">
                               <strong> <%= quizz.title %> </strong>
                            </a>
                        </li>
                    <% }) %>
                </ul>
                <% } else { %>
                   <p>No quizzes have been created for this course.</p>
                <% } %>
        </div>
        <div class="col-lg-9">
            <div class=" mt-3">
                <div class="progress-bar-container">
                    <div class="progress-bar-fill" data-progress="<%= progress.course_progress %>"></div>
                </div>
            </div>
        </div>
    

    <script src="/js/courseProgressBar.js"></script>

    <%- include('partials/_footer') %>