<%- include('partials/_header') %>
    
        <div class="col-lg-3 d-flex flex-column">
                <h4 class="m-0 mt-3">Courses</h4>
                <% if(courses.length >0){%>
                <ul class="list-group mt-2">
                    <% courses.forEach(course => { 
                        let courseProgress = progress.find(p => p.course_id === course.id);
                    %>
                        <li id="course_<%= course.id %>" class="list-group-item bg-primary-subtle rounded-0 mb-1 d-flex justify-content-between align-items-center">
                            <span class="w-75" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" id="course_<%= course.id %>_">
                                <a href="/api/courses/<%= course.id %>" class="text-decoration-none text-dark">
                                    <strong style="" data-title ="course-title"><%= course.title %></strong>
                                </a>
                            </span>
                            <% if(courseProgress) { %>
                            <div class="d-flex align-items-center gap-1">
                                <div class="progress-container">
                                    <svg width="30" height="30">
                                        <circle cx="15" cy="15" r="10" class="progress-ring"></circle>
                                        <circle cx="15" cy="15" r="10" class="progress-ring-progress" data-progress="<%= courseProgress.course_progress %>"></circle>
                                    </svg>
                                    <div id="course_<%=course.id%>-progress" class="progress-text"><%= courseProgress.course_progress %>%</div>
                                </div>

                                <div class="btn-group dropup">
                                    <button type="button" class="bg-transparent border-0" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" data-id="<%= course.id %>">edit</li>
                                        <li class="dropdown-item">
                                            <form data-course-id="<%= course.id %>" class="delete-course-btn" action="/api/courses/<%= course.id %>/delete" method="delete">
                                                <button type="submit" class="text-danger border-0 bg-transparent p-0">Delete Course</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
                <% } else { %>
                    <p>No Courses have been created yet.</p>
                <% } %>            
        </div>
        <div class="col-lg-9">
            <div class="row mt-3">
                <div class="col-lg-8">
                    <h4 class="mt-2 mb-0"> New course</h4>
                    <form action="/api/courses" method="post" class="d-flex align-items-center gap-1">
                        <input type="hidden" name="user_id" value="<%= user.userId %>">
                        <input type="text" id="title" name="title" placeholder="Enter course title" class="form-control" required>
                        <input type="submit" id="createBtn" class="btn btn-sm btn-primary" value="create">
                    </form>
                    <% if(courses.length === 0) {%>
                    <h4>Course Creation Video</h4>
                    <div class="card rounded-0">
                            <video src="/videos/course creation video.mp4" controls autoplay="true" loop class="mt-2" style="width: 100%; height: auto;"></video>
                    </div>
                    <p class="mt-2">Watch the video to learn how to create a course</p>
                    <% } %>
                </div>
                <div class="col-lg-4">
                    <h4>Dashboard</h4>
                    <h3>
                        <%= user.username %></h3>
                    <p><%= user.email %></p>
                </div>
            </div>        
        </div>
    
   <script src="/js/courseProgress.js"></script>
   <script src="/js/notifications.js"></script>
   <script src="/js/checkForDuplicate.js"></script>
   <script src="/js/refreshToken.js"></script>
   <script type="application/json" id="courses-data">
    <%- JSON.stringify(courses) %>
   </script>
    <script>
        let courses = JSON.parse(document.getElementById("courses-data").textContent);;

        document.addEventListener('DOMContentLoaded', () => {

            let title = document.getElementById('title');
            let createBtn = document.getElementById('createBtn');

            checkForDuplicate(courses, title,'title','title', createBtn, "Course");
        });
    </script>

    <script src="/js/editCourse.js"></script>
<%- include('partials/_footer') %>