<%- include('../partials/_header') %>
<nav class="p-0" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= course.title %></li>
  </ol>
</nav>
    <div class="col-12 bg-primary-subtle px-4 py-5 rounded">
        <h1><%= course.title %></h1>
        <div class="d-flex align-items-center gap-3">
            <div class="download-container">
                <button class="download-btn" data-href="/courses/<%= course.id %>/handout/download">
                    <div class="icon-container">
                        <svg class="circular-progress" viewBox="0 0 26 26">
                            <circle class="progress-circle" cx="13" cy="13" r="11"></circle>
                        </svg>
                        <svg class="download-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="7 10 12 15 17 10"></polyline>
                            <line x1="12" y1="15" x2="12" y2="3"></line>
                        </svg>
                    </div>
                    <span class="btn-text">Download PDF</span>
                </button>
            </div>
            <form action="/courses/<%= course.id %>/join" method="post">
                <button type="submit" class="btn btn-primary">Join Course</button>
            </form>
            <a href="/quiz/start/<%= course.id %>" class="btn btn-primary">Take Quiz</a>
        </div>
    </div>
    <!-- <div class="col-lg-6 my-lg-auto my-3">
        <form action="/api/courses/<%= course.id %>/lectures" method="post" class="d-flex align-items-center justify-content-between gap-2">
                <select class="form-control" name="lecture_start" id="lecture_start" required>
                    <option class="form-control" value="">From</option>
                    <% lectures.forEach(lecture => { %>
                        <option class="form-control" value="<%= lecture.id %>"><%= lecture.title %></option>
                    <% }) %>
                </select>
                <select class="form-control" name="lecture_end" id="lecture_end" required>
                    <option value="">To</option>
                    <% lectures.forEach(lecture => { %>
                        <option class="form-control" value="<%= lecture.id %>"><%= lecture.title %></option>
                    <% }) %>
                </select>
                <div class="form-group">
                    <input type="number" title="Number of questions" id="question_count" name="question_count" min="0" max="100" value="0" required>
                </div>
                <button type="submit">Generate</button>
            </form>
    </div> -->

    <div class="col-12 p-0 mt-3">
        <h2>Lectures</h2>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <ul class="list-group">
            <% lectures.forEach((lecture, index) => { %>
                <a href="/courses/<%= course.slug %>/lectures/<%= lecture.id %>" class="text-decoration-none text-dark" style="width: fit-content;">
                    <li class="list-group-item bg-transparent border-0 px-0">
                        <span class="text-dark fw-semibold">(<%= index + 1 %>) &nbsp;</span>
                        <strong style="width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" data-title = "lecture-title"> <%= lecture.title %> </strong>
                    </li>
                </a>
            <% }) %>
        </ul>
        </div>
    </div>

     <script src="/js/download.js"></script>
<%- include('../partials/_footer') %>