<%- include('../partials/_header') %>
<div class="col-lg-10">
    <div class="bg-primary text-white p-2 border border-1 border-dark">
        <div class="d-flex align-items-center justify-content-between position-relative">
            <h1 class="m-0 p-0"><%= lecture_id ? 'Lecture Quiz' : 'Course Quiz' %></h1>
            <div id="timer"></div>
            <p class="m-0">Total Questions : <strong><%= questions.length %></strong></p>  
        </div>
    </div>
    <div class="content-container">
        <form id="quiz-form" 
              action="/quiz/submit/<%= course_id %><%= lecture_id ? '/' + lecture_id : '' %>" 
              method="POST">

            <div class="mt-3 fw-bold" id="question-index"></div>
            
            <!-- Question container -->
            <div id="question-container" class="border border-1 border-dark my-3 p-3">
                <strong id="question-text"></strong>
            </div>

            <!-- Options container -->
            <ul id="options-container" class="p-0 list-group"></ul>

            <div class="d-flex justify-content-end align-items-center gap-3">
                <button id="back-btn" type="button" class="btn btn-primary mt-3">Back</button>
                <button id="next-btn" type="button" class="btn btn-primary mt-3">Next</button>
            </div>
        </form>
    </div>
</div>

<div class="col-lg-2">
    <h4 class="m-0 py-1">Questions</h4>
    <div id="questions-navigation-container" class="d-flex flex-wrap gap-1 border p-2 border-1 border-dark"></div>      
</div>

<script type="application/json" id="questions-data">
    <%- JSON.stringify(questions) %>
</script>

<script>
    let courseId = "<%= course_id %>";
    let lectureId = "<%= lecture_id %>";
    let questions = JSON.parse(document.getElementById("questions-data").textContent);
</script>

<% if(questions.length > 0){%>
<script src="/js/takeQuizz.js"></script>
<%}%>
<%- include('../partials/_footer') -%>
